.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card:hover {
  cursor: pointer;
  color: #000000 !important;
  background-color: #ffff00 !important;
}

body {
  background-image: url("./topo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Add more styling as needed */
}
